
<!-- First Servey Form -->
<!-- <div class="mx-0 mx-sm-auto">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <i class="far fa-file-alt fa-4x mb-3 text-primary"></i>
          <p>
            <strong>Your opinion matters</strong>
          </p>
          <p>
            Have some ideas how to improve our product?
            <strong>Give us your feedback.</strong>
          </p>
        </div>
  
        <hr />
  
        <form class="px-4" action="">
          <p class="text-center"><strong>Your rating:</strong></p>
  
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio2Example1" />
            <label class="form-check-label" for="radio2Example1">
              Very good
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio2Example2" />
            <label class="form-check-label" for="radio2Example2">
              Good
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio2Example3" />
            <label class="form-check-label" for="radio2Example3">
              Medicore
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio2Example4" />
            <label class="form-check-label" for="radio2Example4">
              Bad
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio2Example5" />
            <label class="form-check-label" for="radio2Example5">
              Very bad
            </label>
          </div>
  
        </form>
      </div>
      <div class="card-footer text-end">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div> -->

  <!-- Second servey form -->
  <!-- <div class="mx-0 mx-sm-auto">
    <div class="card">
      <div class="card-header bg-primary">
        <h5 class="card-title text-white mt-2" id="exampleModalLabel">Feedback request</h5>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="far fa-file-alt fa-4x mb-3 text-primary"></i>
          <p>
            <strong>Your opinion matters</strong>
          </p>
          <p>
            Have some ideas how to improve our product?
            <strong>Give us your feedback.</strong>
          </p>
        </div>
  
        <hr />
  
        <form class="px-4" action="">
          <p class="text-center"><strong>Your rating:</strong></p>
  
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example1" />
            <label class="form-check-label" for="radio3Example1">
              Very good
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example2" />
            <label class="form-check-label" for="radio3Example2">
              Good
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example3" />
            <label class="form-check-label" for="radio3Example3">
              Medicore
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example4" />
            <label class="form-check-label" for="radio3Example4">
              Bad
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example5" />
            <label class="form-check-label" for="radio3Example5">
              Very bad
            </label>
          </div>
  
          <p class="text-center"><strong>What could we improve?</strong></p>
  
          Message input
          <div class="form-outline mb-4">
            <textarea class="form-control" id="form4Example3" rows="4"></textarea>
            <label class="form-label" for="form4Example3">Your feedback</label>
          </div>
        </form>
      </div>
      <div class="card-footer text-end">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div> -->

  <!-- third servey form -->
  <!-- Button trigger modal
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
    Launch demo modal
  </button>
  
 Modal

  <div class="modal fade p-3" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog mx-0 mx-sm-auto">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title text-white" id="exampleModalLabel">Feedback request</h5>
          <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <i class="far fa-file-alt fa-4x mb-3 text-primary"></i>
            <p>
              <strong>Your opinion matters</strong>
            </p>
            <p>
              Have some ideas how to improve our product?
              <strong>Give us your feedback.</strong>
            </p>
          </div>
  
          <hr />
  
          <form class="px-4" action="">
            <p class="text-center"><strong>Your rating:</strong></p>
  
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="exampleForm" id="radio4Example1" />
              <label class="form-check-label" for="radio4Example1">
                Very good
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="exampleForm" id="radio4Example2" />
              <label class="form-check-label" for="radio4Example2">
                Good
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="exampleForm" id="radio4Example3" />
              <label class="form-check-label" for="radio4Example3">
                Medicore
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="exampleForm" id="radio4Example4" />
              <label class="form-check-label" for="radio4Example4">
                Bad
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="exampleForm" id="radio4Example5" />
              <label class="form-check-label" for="radio4Example5">
                Very bad
              </label>
            </div>
  
            <p class="text-center"><strong>What could we improve?</strong></p>
  
            Message input
            <div class="form-outline mb-4">
              <textarea class="form-control" id="form4Example4" rows="4"></textarea>
              <label class="form-label" for="form4Example4">Your feedback</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-mdb-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div> -->


  <!-- fourth servey form -->

  <!-- <div class="mx-0 mx-sm-auto">
    <div class="card">
      <div class="card-body">
  
  
        <form class="px-2" action="">
          <p class="text-center"><strong>How do you rate customer support:</strong></p>
  
          <ul class="h2 rating justify-content-center pb-3" data-mdb-toggle="rating">
            <li>
              <i class="far fa-star fa-sm text-primary" title="Bad"></i>
            </li>
            <li>
              <i class="far fa-star fa-sm text-primary" title="Poor"></i>
            </li>
            <li>
              <i class="far fa-star fa-sm text-primary" title="OK"></i>
            </li>
            <li>
              <i class="far fa-star fa-sm text-primary" title="Good"></i>
            </li>
            <li>
              <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
            </li>
          </ul>
  
          <p class="text-center"><strong>What could we improve?</strong></p>
  
          Message input
          <div class="form-outline mb-4">
            <textarea class="form-control" id="form4Example6" rows="4"></textarea>
            <label class="form-label" for="form4Example6">Your feedback</label>
          </div>
        </form>
      </div>
      <div class="card-footer text-end">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div> -->

  <!-- fifth servey form -->

  <div class="mx-0 mx-sm-auto">
    <div class="text-center">
      <p>
        <strong>How likely if it that you would recommend MDB to a friend or colleague?</strong>
      </p>
    </div>
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-light">0</button>
        <button type="button" class="btn btn-light">1</button>
        <button type="button" class="btn btn-light">2</button>
        <button type="button" class="btn btn-light">3</button>
        <button type="button" class="btn btn-light">4</button>
        <button type="button" class="btn btn-light">5</button>
        <button type="button" class="btn btn-light">6</button>
        <button type="button" class="btn btn-light">7</button>
        <button type="button" class="btn btn-light">8</button>
        <button type="button" class="btn btn-light">9</button>
        <button type="button" class="btn btn-light">10</button>
      </div>
    </div>
    <div class="text-end mt-3">
      <button type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>