/* .container{
    position: relative;
}
  

.demo{
    margin-bottom: 60px;
}
  

.carousel-html-content .carousel-cell{
    background: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 15px;
  }
    

carousel .carousel-cell{
    border-radius: 15px
}

carousel .carousel-cells .carousel-cell{
    border-radius: 15px
}
   */