/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* You can add global styles to this file, and also import other style files */


.primary-color{
    background-color: black;
    color: white;
}

.secondary-color{
    background-color: orange;
    color: white;
}

.color-white{
    color: white;
}